<form class="data-form" [formGroup]="reactiveForm">
    <div class="data-box">
        <label>Nombre:</label>
        <input type="text" id="name" name="name" formControlName="name">
        <span [hidden]="name.dirty && name.value !== ''" class="error-input">El nombre es obligatorio</span>
        <span *ngIf="name.errors?.minlength || name.errors?.maxlength" class="error-input">Longitud entre 4 y 25 carácteres</span>
    </div>
    <div class="data-box">
        <label>Apellidos:</label>
        <input type="text" id="surname" name="surname" formControlName="surname">
        <span [hidden]="surname.dirty && surname.value !== ''" class="error-input">El apellido es obligatorio</span>
        <span *ngIf="surname.errors?.minlength || surname.errors?.maxlength" class="error-input">Longitud entre 4 y 25 carácteres</span>
    </div>
    <div class="data-box">
        <label>Edad:</label>
        <input type="number" id="age" name="age" formControlName="age">
        <span [hidden]="age.dirty && age.value !== ''" class="error-input">La edad es obligatoria</span>
        <span *ngIf="age.errors?.minlength || age.errors?.maxlength" class="error-input">Longitud entre 4 y 25 carácteres</span>
    </div>
    <div class="data-box">
        <label>DNI:</label>
        <input type="text" id="dni" name="dni" formControlName="dni">
        <span [hidden]="dni.dirty && dni.value !== ''" class="error-input">El DNI es obligatorio</span>
        <span *ngIf="dni.errors?.minlength || dni.errors?.maxlength" class="error-input">Longitud de 9 carácteres</span>
    </div>
    <button (click)="onSubmit()" [disabled]="!reactiveForm.valid">Enviar</button>
</form>

<p *ngFor="let item of usuarios">
    {{ item |json }}
</p>