<div class="container">
    <div class="cuerpo">
        <div class="cuerpo-form">
            <form class="data-form" [formGroup]="reactiveForm">
                <div class="data-box">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre: </mat-label>
                        <input matInput type="text" id="name" name="name" formControlName="name">
                        <mat-error *ngIf="reactiveForm.value.name ===''">El nombre es obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div class="data-box">
                    <mat-form-field appearance="fill">
                        <mat-label>Apellidos:</mat-label>
                        <input matInput type="text" id="surname" name="surname" formControlName="surname">
                        <mat-error *ngIf="reactiveForm.value.surname ==='' ">El apellido es obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <div class="data-box">
                    <mat-form-field appearance="fill">
                        <mat-label>Edad: </mat-label>
                        <input matInput type="number" id="age" name="age" formControlName="age">
                        <mat-error *ngIf="reactiveForm.controls.age.status !== 'VALID' ">La edad es obligatoria</mat-error>
                    </mat-form-field>
                </div>
                <div class="data-box">
                    <mat-form-field appearance="fill">
                        <mat-label>DNI: </mat-label>
                        <input matInput type="text" id="dni" name="dni" formControlName="dni">
                        <mat-error *ngIf="reactiveForm.controls.dni !== 'VALID' ">El DNI es obligatorio</mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" class="text-center" (click)="onSubmit()" [disabled]="!reactiveForm.valid">Enviar</button>
            </form>
        </div>
        <div class="cuerpo-select">
            <form class="data-form" (ngSubmit)="onSubmit2()" #templateForm="ngForm">
                <div class="data-box">
                    <label>Busqueda por edad: </label>
                    <input type="number" id="selectEdad" [(ngModel)]="selectEdad" name="selectEdad">
                </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!templateForm.form.valid">Enviar</button>
            </form>
        </div>



        <div class="cards" *ngFor="let item of users; let i index">
            <app-card [user]="item"></app-card>
        </div>


    </div>